@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html {
  max-width: 600px;
}

/* 禁止双击放大页面 */
html,
body {
  touch-action: manipulation;
}

:root {
}
